
<div
  [ngClass]="{
    'card h-100 pb-3': true,
    highlightEdit: adminUser && product.stock < 35
  }"
>
  <img class="card-img-top" [src]="product.thumbnail" alt="product.title" />
  <div class="card-block">
 
    <p class="card-text d-inline-block text-truncate pt-1 mb-1">
      {{ product.description }}
    </p>
    
    <div class="text-start px-2">
      <p class="fw-bold mb-0">Price: {{ product.price }} EGP</p>
      <p class="fw-bold discountStyle">
        Discount: {{ product.discountPercentage }} %
      </p>
    </div>
    <a
      *ngIf="adminUser && product.stock < 35"
      href=""
      class="btn btn-danger"
      >Edit Quantity</a
    >
  </div>
</div>

